<a href="https://colab.research.google.com/github/krishthaparubi/DTSC3020_PythonKrishThapa/blob/main/Assignment4_(ch_6)__(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [4]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

min_score = min(grades.values())

for name, score in grades.items():
  if score == min_score:
    print(name, score)

Omid 16

Exercise 2: print names of students who registered for any course containing "Data"

In [17]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

for name, listt in courses.items():
  for course in listt:
    if "Data" in course:
      print(name)

Sara
Reza

Exercise 3: Print titles of books that are not available.

In [21]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

# Write your code here:
for title, pages in library.items():
  if not pages["available"]:
    print(title, " is not availiable")

AI Basics  is not availiable
Math Advanced  is not availiable

Exercise 4: Print names of students who are registered for more than 2 courses.

In [29]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

for name, courses in registrations.items():
  if len(courses) > 2:
    print(name)

Sara
Lina

Exercise 5: Calculate and print the average grade of the class.

In [30]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

average = sum(grades.values()) / len(grades.values())
print(f"The average grade of the class is {average}")

The average grade of the class is 18.1

Exercise 6: Count and print the number of students registered for "Python".

In [48]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}
count = 0
for name, listt in courses.items():
    if "Python" in listt:
      count += 1
print(f"The amount of students enrolled in python is {count}")

The amount of students enrolled in python is 3

Exercise 7: Print titles of books with more than 200 pages.

In [51]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}


for title, page in book_pages.items():
  if page > 200:
    print(title)

AI Basics
Math Advanced
Data Science

Exercise 8: Print each student's name and number of registered courses.

In [52]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

for name, listt in courses.items():
  print(name, len(listt))

Ali 2
Sara 2
Reza 2
Lina 2
Omid 1