<a href="https://colab.research.google.com/github/krishthaparubi/DTSC3020_PythonKrishThapa/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [139]:
#Create a list with 3 fruits (for example: apple, banana, orange).
 #• Print the entire list.
 #• Print each item separately.

fruits = ['apples', 'kiwi', 'orange']
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])

['apples', 'kiwi', 'orange']
apples
kiwi
orange

In [123]:
#Create a list with 4 names.
 #• Change the first name to a different one.
 #• Print the new list.

name = ['krish', 'rish', 'tool', 'bool']
name[0] = 'Ethan'
print(name)

['Ethan', 'rish', 'tool', 'bool']

In [128]:
#Create a list with 5 vehicles (for example: car, bus, bike).
 #• Add one more vehicle to the end of the list.
 #• Print the list.

car = ['bike', 'bus', 'car', 'skateboard', 'tricyle']
car.append("unicycle")
print(car)

['bike', 'bus', 'car', 'skateboard', 'tricyle', 'unicycle']

In [132]:
#Create a list with 6 foods.
 #• Remove one food from the list.
 #• Print the new list.

food = ['apples', 'kiwi', 'orange', 'berry', 'cake', ' milk']
del food[0]
print(food)

['kiwi', 'orange', 'berry', 'cake', ' milk']

In [138]:
#Create a list with 4 cities.
#• Sort the list in alphabetical order.
#• Reverse the list.

city = ['denton', 'corinth', 'lewi', 'keller']
city.sort(reverse = True)
print(city)

['lewi', 'keller', 'denton', 'corinth']

In [140]:
#• Create a list with 3 animals.
#• Use a for loop to print each animal.

animal = ['dog', 'cat', 'bird']
for animals in animal:
  print(animals)

dog
cat
bird

In [146]:
#• Create a list with numbers from 1 to 5.
#• Use a for loop to print each number multiplied by 2.

num = [1, 2, 3, 4, 5]
for nums in num:
 print(nums * 2)

2
4
6
8
10

In [149]:
#Create a list with 6 friends.
#• Print the first three friends.
#• Print the last three friends.

friends = ['krish', 'ron', 'man', 'sam', 'cam', 'tam']
print(friends[:3])
print(friends[3:])

['krish', 'ron', 'man']
['sam', 'cam', 'tam']

In [150]:
#Use range() to create a list with numbers from 1 to 10.
#• Print the list.

listt = list(range(1,11))
print(listt)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [158]:
#• Use list comprehension to create a list with the squares of numbers from 1 to 5.
#• Print the list.

listt = [value**2 for value in range(1,11)]
print(listt)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]